.newline{
  white-space: pre-wrap;
}

#portfolio h1{
  font-size: 2rem;
}

.feature-item{
  margin-top: 2.5em;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 450px;
}

.center{
  text-align: center;
}

.warning{
  color: red;
}